target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.log

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env

node_modules/
dist/
.angular/

.idea/
*.iml
.vscode/
.classpath
.project
.settings/

.DS_Store
Thumbs.db
